.custom-shdow{
    box-shadow: 2px 1px 2px 1px gray;
    padding:1rem;
    border-radius: 5px;
    border-left: 5px solid green;
}
.custom-button{
    transition: .5s ease-in-out all;
}
.custom-button:hover{
    background-color:rgba(255,204,150);
    
}